body {
  font-family: Arial, Helvetica, sans-serif;
}

.container-about {
  color: white;
  text-align: center;
  margin-top: 3%;
}

.container-about img {
  width: 280px;
  margin-bottom: 15px;
  border: 5px solid #18100b;
  border-radius: 30px;
}

.container-about h1 {
  margin-bottom: 35px;
}

.container-about h3 {
  margin: 13px;
}

.container-about button {
  margin-top: 35px;
  margin: 8px;
  padding: 10px;
  width: 100px;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(to left, #140d09, #412b1e);
  border: 0;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.container-about button:hover {
  text-decoration: underline;
}

.container-about button a {
  color: white;
  text-decoration: none;
}
